* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* sfondo */

.first-box {
    /* background-color: #D6DBD9; */
    background-image: linear-gradient(to top, #d6dbd9, #b4c9c2, #91b7ad, #6ca599, #419388);
    width: 100%;
    height: 100vh;
}

/* contenitore centrale */

.second-box {
    padding-top: 20px;
}

/* SIDEBAR */

.sidebar {
    border: 1px solid lightgray;
    background-color: white;
}

.navbar-sidebar {
    height: 60px;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar sidebar utente prima parte */

.navbar-sidebar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-sidebar-utente {
    display: flex;
    align-items: center;
}

.navbar-sidebar-utente-name {
    padding-left: 5px;
}

.navbar-sidebar-icone {
    color: rgb(177, 177, 177);
    font-size: 18px;
}

.navbar-sidebar-icone i {
    padding: 10px;
}

/* navbar sidebar notifiche parte due */

.navbar-sidebar-notifiche {
    height: 70px;
    background-color: rgb(159, 216, 248);
    display: flex;
    align-items: center;
}

.notifiche-icona-campana {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifiche-icona-campana i {
    color: rgb(159, 216, 248);
    font-size: 18px;
}

.navbar-sidebar-notifiche-text {
    margin-left: 10px;
    line-height: 18px;
}

.navbar-sidebar-notifiche-text a {
    font-size: 14px;
    color: rgb(87, 115, 131);
}

/* navbar sidebar search bar parte tre */

.navbar-sidebar-search-bar {
    margin: 10px auto 10px;
    padding: 10px;
    border: 1px solid lightgray;
}

.navbar-sidebar-search-bar i {
    color: rgb(183, 185, 187);
}

.navbar-sidebar-search-bar-input {
    width: 100%;
    border: none;
    padding-left: 15px;
}

/* contatti parte quattro */

.box-contacts {
    height: 300px;
    overflow-y: scroll;
}

.sidebar-phone-contacts-avatar {
    width: 100%;
    border-radius: 50%;
}

.sidebar-phone-contacts {
    vertical-align: sub;
}

/* CONTENT */

/* navbar content parte uno */

.content {
    border: 1px solid lightgray;
}

.navbar-content {
    background-color: rgb(234, 234, 234);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content-utente {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.navbar-content-utente img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-content-utente-name {
    padding-left: 10px;
}

.navbar-content-utente-name-2text {
    font-size: 12px;
    color: rgb(108, 115, 118)
}

.navbar-content-icone {
    color: rgb(177, 177, 177);
    font-size: 18px;
}

.navbar-content-icone i {
    padding: 10px;
}

/* navbar content-inner parte due */

.content-inner {
    background-image: url("../img/mine.jpg");
    height: calc(500px - 60px);
    overflow-y: scroll;
}

.fumetto-bianco {
}

.fumetto-bianco-text {
    width: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.fumetto-verde {

}

.fumetto-verde-text {
    width: 200px;
    background-color:rgb(220, 248, 192);
    border-radius: 5px;
    padding: 10px;
}

/* footer contentparte uno */

.footer-content {
    background-color: rgb(241, 237, 233);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-content input {
    flex-basis: 80%;
    padding: 10px;
    border: none;
}

.footer-content-smile, .footer-content-microphone {
    font-size: 20px;
    color: rgb(108, 115, 118);
}